html {
	height: 100vh;
}

body {
	height: 100vh;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #E9ECEF;
}

.logo {
	font-family: 'Pacifico', cursive;
}

.logo-size {
	font-size: 35px;
}

.shop {
	font-size: 25px;	
}

