html {
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F8F9FA;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}

.logo-size {
  font-size: 35px;
}

.shop {
  font-size: 25px;	
}

#map-wrapper {
  height: 70vh;
  width: 89vw;
}

#pics-wrapper img {
  height: 110px;
  margin: 5px;
}